@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  color: white
}

h1, p, li {
  color: white;
}
